<div ng-show="list">
   <div id="logo-wrap">
         <img id="logo" class="img-responsive" src="img/logo.png">
         <span id="title">ADOPT HOPE</span>
      </div>
   <a href="#/">
      <input type="submit" href="#/" class="btn" id="backToSearch" value="Back To Search" />
   </a>
   <h1 class="near text-center">{{type}}</h1>
   <hr />
   <h3 class="text-center titleText">Click on a pet for more information</h3>
   <br />
   <div ng-repeat="dog in list" class="petContainer">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
         <a ng-click="openModal(dog.id.$t)">
            <div class="listing" data-id="{{ dog.id.$t }}">
               <div class="img-wrap ">
                  <img class="img-responsive grid-img center-horizontal" ng-src=" {{ hasImage(dog.media.photos.photo[2].$t) }}">
               </div>
               <div class="info-wrap">
                  <span class="name">{{ dog.name.$t }}</span>
                  <hr><span class="info">{{ size(dog.size.$t) }} &#xb7 {{ dog.age.$t }} &#xb7 {{ sex(dog.sex.$t) }} <hr>
               {{ dog.breeds.breed.$t }} {{ isUndefined(dog.breeds.breed[0].$t) }} {{ dog.breeds.breed[1].$t }} </span>
               </div>
            </div>
         </a>
      </div>
   </div>
   <div id="paginationContainer">
      <ul id="pagination" uib-pagination total-items="totalItems" ng-change="pageChanged()" ng-model="currentPage" max-size="4" items-per-page="itemsPerPage" class="pagination-sm" boundary-link-numbers="true"></ul>
   </div>
</div>
<div ng-show="!list">
   <h2 class="text-center titleText">{{transitionText}}</h2>
   <img id="loadingLogo" ng-show="!showBack" src="img/gears.svg" alt="">
   <a href="#/">
      <input ng-show="showBack" type="submit" href="#/" class="btn" id="backToSearch" value="Back to Search" style="color: white; margin: 0 auto; display: block;" />
   </a>
</div>